:root {
  --ifm-font-color-base: var(--c-carbon-80);

  --ifm-h1-font-size: 5rem;
  --ifm-h2-font-size: 2.5rem;
  --ifm-h3-font-size: 1.25rem;
}

.overline {
  /* TODO: Full font family */
  font-family: 'Roboto Mono', monospace;
  display: inline-block;

  margin-block-end: 1rem;

  font-weight: 500;
  font-size: 0.875rem;
  line-height: 120%;

  padding: 0.3125rem 0.5rem 0.375rem;
  background: #fff7e1;
  border-radius: 8px;
  color: #ff9120;
}

.column {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
.column > :first-child {
  max-width: 29rem;
}
.column > :last-child {
  flex-grow: 1;
  max-width: 35rem;
}

.top {
  text-align: center;

  padding-block-start: 8rem;
}

.top h1 {
  margin-block-end: 2rem;

  font-weight: 800;
  line-height: 100%;
  letter-spacing: -0.05em;

  color: #001a3a;
}

.top h1 em {
  font-style: normal;
  background: linear-gradient(89.6deg, #f8bc47 7.49%, #f9534d 94.39%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.top p {
  margin-block-end: 3rem;

  font-size: 1.25rem;
  letter-spacing: -0.01em;
}

.features {
  padding-block-start: 10rem;
}

.features ul {
  padding: 0;

  list-style: none;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.features li {
  display: flex;
  flex-direction: column;
  flex-basis: calc(33% - 1rem);
}

.features li h3 {
  margin-block-start: 2rem;
  margin-block-end: 1rem;
}

.automate {
  padding-block-start: 12.5rem;
}
