/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 6rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;

  background: #222;
}
[data-theme='dark'] .heroBanner {
  background: #eee;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  --ifm-button-background-color: var(--ifm-color-primary-dark);
}

.hero__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 80px;
  line-height: 100%;
  letter-spacing: -0.05em;

  /* or 80px */
}

.hero__subtitle {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;

  letter-spacing: -0.01em;
}
