name: Build and Publish

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  publish:
    runs-on:
      ubuntu-latest # For a list of available runner types, refer to
      # https://help.github.com/en/actions/reference/workflow-syntax-for-github-actions#jobsjob_idruns-on

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      # Start npm/platform tasks
      - uses: actions/setup-node@v1
        with:
          node-version: 14

      - name: Install and Test
        env:
          CI: true
        run: |
          npm ci
          npm run lerna:bootstrap
          npm run build
          npm test
